.header{
    //margin-top: -3rem;
    //margin-bottom: 3rem;
    padding-top: 0;
    //padding-bottom: -3rem;
    height: 100vh;
    background-image: linear-gradient(
        to left,
        rgba($color-tertiary-light, 0.4),
        rgba($color-grey-dark-3, 0.7) ),
    url("../img/IMG_20191009_133756\ Cropped\ \(2\).jpg");
    background-size: cover;
    //background-repeat: no-repeat;
    
    background-position: top;
    position: relative;
    //clip-path: polygon(0 0,100% 0,100%  100%, 0 100%);
    //-webkit-    clip-path: polygon(50% 0%, 100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);

    //clip-path: polygon(50% 0%, 100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);


    &__logo-box{
        position: absolute;
        top: 3.0rem;
        left: 3.0rem;
    
    
    }
    &__logo{
        height: 12.0rem;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-20%);
        text-align: center;
    }
}
/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid $color-white;
  
  }

  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}